.error-popup{
    width:30%;
    font-size:18px;
    padding:12px;
    border-radius: 7px;
    box-shadow: 0 2px 8px 1px rgba(99, 98, 98, 0.349);
    border:none;
    display:grid;
    grid-template-columns:1fr 4fr 1fr;
    justify-items:center;
    align-items:center;
    position:fixed;
    z-index:333;
 
}

@keyframes animateFromTop{
    from { top: 0; }
    to { top: 50px; }
}

@keyframes animateFromBottom{
    from { right :0; }
    to { right: 30%; }
}

#error-text>b{
    font-size: 20px;
}