form{
    grid-column: 3/11;
    background-color: whitesmoke;
    padding: 30px;
}

form>fieldset {
    margin: 10px 0;
    padding: 20px;
    line-height: 2rem;
}

table, input, select {
    width: 100%;
}

input[type="checkbox"] {
    width: fit-content;
}

.btns {
    grid-column: 6/10;
    text-align: center;
    word-spacing: 10px;
}

.others-info {
    display: none;
}