main{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap:20px;
}
#profile{
    grid-column: 2/7;
}

#details{
    grid-column: 7/12;
}

#more-details{
    grid-column: 2/12;
    padding: 30px 400px;
}

.maindiv{
    background-color: white;
    border-radius: 5px;
    margin: 0 5px 20px 5px;
    height: 400px;
}

#user-name{
  text-align: center;
  margin-top: 30px;
}

#detail-form{
    margin-top: 20px;
    margin-left: 80px;
}

h3{
    margin-top: 80px;
   text-align: center;
}

#add-photo{
    margin-top: 80px;
    text-align: center;
    width: 150px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
}

#latest-form{
    margin-top: 20px;
   text-align: center;

}

.editsavebtn{
    background-color: darkblue;
    color: white;
    border-radius: 8px;
    width: 50px;
}
td{
    padding: 10px ;
}
.btn-td{
    text-align: right;
    border-radius: 10px;
}