/* main styling css for header footer */
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;600&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    font-family: 'Palanquin', sans-serif;
}

html {
    scroll-behavior: smooth;
    
}
 
/* divisions with grid display and full column length like body, main, header */
.col-12{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
}

/* body part */
body {
    background-color: #EFF0F2;
}

/* heading part */
header{
    padding: 1.5em;
    background-color: #265077;
    /* position: sticky;
    top: 0; */
}

.hero-section{
    background-color: #265077;
    width: 100%;
    min-height: 80vh;
}

/* logo */
#logo{
    grid-column: 2/5;
    color: whitesmoke;
    font-size: 1.2rem;
    text-align: start;
}

.nav-toggler {
    display: none;
    background-color: transparent;
    border: none;
    text-align: right;
    outline: none;
    color: #ffffff;
}

/* navigation for desktop version */
nav {
    grid-column: 9/13;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav li a{
    font-size: 1.1rem;
}

nav ul li .fa-search{
    color: white;
    cursor: pointer;
}

/* Links */
a{
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    /* font-family: 'ZCOOL XiaoWei', serif;  */
}

.active-nav-link, nav a:hover {
    background-color: #201E1F;
}

.non-nav-link, .non-nav-link:hover {
    color: black;
}

.non-nav-link:hover {
    text-decoration: none;
}

/* hero-text = big hero text, hero-link = btn link that is big */
.hero-text, .hero-link {
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text {
    grid-column: 2/8;
    font-size: 3rem;
    /* margin-top: 1em; */
}

/* sub-text = sub heading */
.sub-text, .hero-link {
    grid-column: 3/6;
    /* font-family: 'Times New Roman', Times, serif; */
    text-align: center;
    margin-bottom: .50em;
}

.sub-text {
    font-size: 2rem;
    color: lightgray;
    font-family: 'Muli', sans-serif;
}

/* hero-btn = bigger btn */
.hero-link, #hero-btn, input[type="submit"], #logOutBtn {
    background-color: #f8e9a1;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.hero-link {
    padding: 1em 0;
    width: 50%;
}

#hero-btn {
    padding: 2px;
    outline: none;
}

/* foot of the website */
footer {
    background-color: #201E1F;
    color: white;
    padding: 1em;
}

.cr-section {
    grid-column: 2/12;
    text-align: center;
    padding-top: 30px;
}

@media screen and (max-width: 750px) {
    .col-12 {
        grid-template-columns: repeat(2, 1fr);
    }

    #logo {
        grid-column: 1/2;
    }

    .nav-toggler {
        display: block;
    }

    nav {
        display: none;
    }

    nav ul {
        flex-direction: column;
    }

    nav, .hero-text, .cr-section {
        grid-column: 1/3;
    }
}