.info-holder{
    min-width: 50%;
    border: 1px solid var(--border-color);
    margin: 1.5rem 2rem; 
    height: 50px;  
    overflow: hidden;
    box-sizing: border-box;
}
.info-title-holder{
    background-color: var( --forgot-background-color);
    border-bottom:1px solid var(--border-color);
}
.info-body-holder{
    padding: 1rem;
    text-align: justify;
}
.icon {
    padding: 0.8rem 0.8rem;
    color: var(--text-color);
    background-color:var( --forgot-background-color);
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 16px;
    border: none;
    transition: 0.4s;
}
.main-div-holder{
    margin:3rem 0rem 5rem 0rem;
}
.icon:after {
    content: '\002B';
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.show{
    height: max-content;
}